.context {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    .title {
        height: 92px;
        background: rgb(224, 224, 224);
        line-height: 84px;
        padding-left: 45px;
        font-size: 22px;
    }
    .subTitle {
        height: 92px;
        text-align: center;
        line-height: 84px;
        color: rgb(116, 116, 116);
        font-size: 18px;
    }
}